#getNumber{
    font-size: 22px;
    text-align: center;
}

.inputNumberBox{
    display: flex;
    justify-content: center;
}

#paragraph{
    margin-left: 20px;
    background-color: darkblue;
    color: darkgrey;
    padding: 30px;
}

.header{
    background-color: darkorange;
    color: white;
    padding: 20px;
    text-align: center;
}

.instructions{
    background-color: turquoise;
    color: black;
    padding: 20px;
    text-align: center;
}